@import url('https://fonts.googleapis.com/css?family=Open+Sans');

#root {
  font-family: 'Open Sans', sans-serif;

  #app-body {
    display: flex;
    margin: 20px;

    @import 'content-container';
    @import 'navigation';
    @import 'image-loader';
    @import 'paginate';
  }
}
