@import url('https://fonts.googleapis.com/css?family=Open+Sans');

#root {
  font-family: 'Open Sans', sans-serif;

  @import 'body';
  @import 'navigation';
  @import 'image-loader';
  @import 'paginate';
}
