#navigation-body {
  max-width: 120px;
  margin: 10px;

  .link {
    text-decoration: none;
    color: #000000;
  }

  .list-title {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
    display: inline;
  }

  .list-border {
    border: 2px solid black;
  }

  /** filter css **/
  #category-filter, #price-filter {
    //display: none;
    list-style-type: none;
    padding: 0;

    .filter-item {
      padding: 4px;
      font-size: 14px;
    }
  }
}
