/** paginate css **/
#paginate {
  font-size: 14px;
  display: flex;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  #paginate-btn-group {
    width: 200px;
    display: flex;
    justify-content: space-around;
  }

  #pag-offset, #pag-size {
    width: 40px;
  }
}
